.media(@width,@rules){
  @media (max-width: @width){
    @rules();
  }
}


// example
.example{
  width: 100%;
  height: 500px;
  background-color: red;
  .media(500px, {
    background-color: yellow;
  })
}

// Media queries
@md:  "(min-width: 992px) and (max-width: 1199px)";
@sm:  "(max-width: 991px)";
@xs:  "(max-width: 767px)";
@xxs: "(max-width: 580px)";
